<h1>Bookmarks</h1>

<% @items = @bookmarks #.select(:id, :name, :avatar) %>

<ul class="collection">
  <%= partial :results_items %>
  <li class="collection-item avatar" id="load_more">
    <button class="btn">Load More</button>
  </li>
</ul>
