<!--/public For users who haven't logged in yet.-->

<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.css"  media="screen,projection"/>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.js"></script>

<nav class="cyan darken-3" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">Chromatch</a>
    </div>
  </div>
  <div class="row">

    <div class="col offset-l4 valign-wrapper hide-on-med-and-down" style="position:absolute; float:right; padding-right:10px;">
      <img src="/images/long_base_20dp.png">
    </div>

  </div>
</nav>


<div class="col s12 m12 valign-wrapper hide-on-large-only">
  <img src="/images/long_base_20dp.png">
</div>



<h3 class="center-align blue-grey-text darken-4">Connect.</h3>
<p class="center-align flow-text blue-grey-text darken-4">Connect with your colleagues.</p>

<h3 class="center-align blue-grey-text lighten-3">Share.</h3>
<p class="center-align flow-text blue-grey-text darken-4"> Share your educational experiences, interests, and career path with your colleagues.</p>

<h3 class="center-align blue-grey-text lighten-3">Explore.</h3>
<p class="center-align flow-text blue-grey-text darken-4"> Explore teachers that are in your district and learn about mutual interests or educaitonal experiences.</p>